.example-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .example-container > * {
    width: 90%;
  }

  .example-card{
      margin-left: 20px;
      margin-top: 20px;
      width: 40%;
  }

  .material-icons{
    margin-top: -4px;
    vertical-align: middle;
    margin-right: 10px;
  }